<div class="hamburger" [ngClass]="{ 'open': !isOpen }" (click)="toggleOpen()">
  <span [ngStyle]="{ 'background-color': isBlack ? 'black' : 'white' }"></span>
  <span [ngStyle]="{ 'background-color': isBlack ? 'black' : 'white' }"></span>
  <span [ngStyle]="{ 'background-color': isBlack ? 'black' : 'white' }"></span>
  <span [ngStyle]="{ 'background-color': isBlack ? 'black' : 'white' }"></span>
  <span [ngStyle]="{ 'background-color': isBlack ? 'black' : 'white' }"></span>
  <span [ngStyle]="{ 'background-color': isBlack ? 'black' : 'white' }"></span>
</div>