<div class="Contact">

  <div class ="Contact-title">
      KONTAKT
  </div>

  <div class ="Contact-topLine"></div>

  <div class="Contact-container container">
    <div class="row Contact-container-row">
      <div class="col-md-5">
        <div class="Contact-container-row-text">
          WYTWÓRNIA<br>
          pracowania architektury wnętrz<br>
          ul. szkolna 2<br>
          55-003 Jeszkowice<br>
    
          Barbara Finke tel. 728 655 654<br>
          Agnieszka Salawa tel. 792 910  624<br>
          wytwornia.architekci@gmail.com<br>
        </div>
      </div>
  
      <div class="col-md-7">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>




</div>