<div class="art-title-about">
  ART
</div>

<div class="art-line"></div>


<div class="art">

  <div class="art-mainImage">
    <div class="art-mainImage-text">
      SZKICUJEMY<br> PROJEKTUJEMY
      <br> TWORZYMY
      <br> REALIZUJEMY
      <br>
    </div>
  </div>

  <div class="art-descripion">
    NASZĄ PASJĄ JEST DESIGN<br>
    Oprócz projektowania wnętrz zajmujemy się projektowaniem mebli. Unikatowych, komponujących się z wnętrzem, które tworzymy.
    

  </div>

  <div class="art-images row">
    <div class="col-md-4" *ngFor="let image of artImages">
      <img src={{image}} class="art-image img-thumbnail">
    </div>
  </div>

</div>