<div class="content">
  <div class ="content-title-about">
    O NAS
  </div>

  <div class ="content-line"></div>

  <img src="assets/images/together.jpg" class="content-together-image">

  <div class ="content-about-description">
    WYTWÓRNIA - to pracowania architektury wnętrz, którą tworzy zespół dyplomowanych architektów. 
    Łącząc kreatywne podejście wraz ze zrozumieniem potrzeb klienta, opierając się na panujących
    trendach wnętrzarskich oraz architektonicznych. Skupiamy się na tworzeniu wnętrz prostych,
    funkcjonalnych, dopasowanych do indywidualnych potrzeb inwestorów.
    Współpracujemy z zaufanymi producentami oraz wykonawcami różnych branży.
  </div>

  <div class ="island-text">
    PROJEKTUJEMY:
  </div>

  <div class= "content-circles-group-4">
    <div class= "content-circle">
      MIESZKANIA
    </div>

    <div class= "content-circle">
      DOMY JEDNORODZINNE
    </div>

    <div class= "content-circle">
      LOKALE USŁUGOWE
    </div>

    <div class= "content-circle">
      BIURA
    </div>
  </div>

  <div class ="island-text">
    A DODATKOWO DZIAŁAMY ARTYSTYCZNIE...
  </div>

  <div class= "content-circles-group-2">
    <div class= "content-circle">
      PROJEKTUJEMY MEBLE
    </div>

    <div class= "content-circle">
      MALUJEMY OBRAZY
    </div>

  </div>

  <div class ="island-text">
    ZESPÓŁ
  </div>

</div>
