.content {
    margin-top: 40px;
}

.content-line {
    top: 40px;
    width: 100%;
    height: 1px;
    background-color: black;
    position: fixed;
    z-index: 10;
}

.content-title-about {
    top: 0px;
    position: fixed;
    margin-left: 30px;
    font-size: 24px;
    z-index: 10;
}

.content-image {
    width: 100%;
}

.content-about-description {
    display: flex;
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.island-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-circles-group-4 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width:800px;
    margin: 0 auto;
}

.content-circles-group-2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 370px;
    margin: 0 auto;
}

.content-circle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 170px;
    height: 170px;
    width: 170px;
    background-color: #B0B0B0;
    color: black;
}

.content-circle-text {
    padding:10px;
}

.content-team {
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #C3C3C3
}
.content-team--background1{
    background-image: url('../../../assets/images/leftBasia.jpg');
}
.content-team--background2{
    background-image: url('../../../assets/images/leftAgnieszka.jpg');
}
.content-team-description {
    padding-top: 50px; 
    padding-bottom: 50px;
    padding-left: 400px; 
    width: 90%;
}

.content-google {
    margin: auto;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.content-google-image img {
    width: 300px;
}

.content-google-text {
    text-align: center;
    font-weight: 800;
}

@media only screen and (max-width: 966px) {
    .content-team{
        background-size: contain;
    }
}