<div class="content-title-about">
  O NAS
</div>

<div class="content-line"></div>

<div class="content">
  <img src="assets/images/together.jpg" class="content-image">

  <div class="content-about-description">
    WYTWÓRNIA - to pracowania architektury wnętrz, którą tworzy zespół dyplomowanych architektów. Łączymy kreatywne podejście
    wraz ze zrozumieniem potrzeb klienta, opierając się na panujących trendach wnętrzarskich oraz architektonicznych. Skupiamy
    się na tworzeniu wnętrz prostych, funkcjonalnych, dopasowanych do indywidualnych potrzeb inwestorów. Współpracujemy z
    zaufanymi producentami oraz wykonawcami różnych branży.
  </div>

  <div class="island-text">
    PROJEKTUJEMY:
  </div>

  <div class="content-circles-group-4">
    <div class="content-circle active" routerLink="/projects" routerLinkActive="active">
      <span class="content-circle-text">
        MIESZKANIA
      </span>
    </div>

    <div class="content-circle active" routerLink="/projects" routerLinkActive="active">
      <span class="content-circle-text">
        DOMY JEDNORODZINNE
      </span>

    </div>

    <div class="content-circle active" routerLink="/projects" routerLinkActive="active">
      <span class="content-circle-text">
        LOKALE USŁUGOWE
      </span>
    </div>

    <div class="content-circle active" routerLink="/projects" routerLinkActive="active">
      <span class="content-circle-text">
        BIURA
      </span>
    </div>
  </div>

  <div class="island-text">
    A DODATKOWO DZIAŁAMY ARTYSTYCZNIE...
  </div>

  <div class="content-circles-group-2">
    <div class="content-circle active" routerLink="/art" routerLinkActive="active">
      <span class="content-circle-text">
        PROJEKTUJEMY MEBLE
      </span>
    </div>

    <div class="content-circle active" routerLink="/art" routerLinkActive="active">
      <span class="content-circle-text">
        MALUJEMY OBRAZY
      </span>
    </div>

  </div>

  <div class="content-google row">
    <div class="col-md-6 content-google-text">

      <p>PRZEJDŹ SIĘ PO WŁASNYM MIESZKANIU!</p>

      Dzięki najnowszej technologi umożliwiamy naszym klientom spacer 3D po swojej inwestycji

    </div>

    <div class="content-google-image col-md-6">
      <img src="/assets/images/google.jpg">
    </div>

  </div>

  <div class="island-text">
    ZESPÓŁ:
  </div>

  <div class="content-team content-team--background1">
    <div class="content-team-description">
      MGR ARCH. Barbara Finke
      <br> Ukończyła Akademię Sztuk Pięknych na wydziale Architektury Wnętrz we Wrocławiu. Pracę dyplomową obroniła w 2017 roku.
      Uwielbia polską i zagraniczną sztukę. Codziennie zdobywa nowe doświadczenie, pogłębiając wiedzę w dziedzinie architektury
      i designu. Po godzinach projektuje meble co traktuje jako formę relaksu.
    </div>
  </div>

  <div class="content-team content-team--background2">
    <div class="content-team-description">
      MGR ARCH. Agnieszka Salawa
      <br> Absolwentka Akademii Sztuk Pięknych na wydziale Architektury Wnętrz we Wrocławiu. Dyplom obroniła w 2017 roku. Od
      dziecka pasjonuje się kreatywną twórczością, nie bojąc się wyzwań. Perfekcjonistka z dużą dozą wyobraźni, kocha dobrze
      zaprojektowane wnętrza, a w wolnym czasie swoją energie kumuluje malując obrazy.
    </div>
  </div>

</div>