<div class = "projects">
  <div class ="projects-title-about">
      PROJEKTY
  </div>

  <div class ="projects-topLine"></div>

  <div class="projects-projectThumb row">
    <div class="col-md-2 projects-projectThumb-description">
        <span>Własne 25 metrów</span>
    </div>
    <div class="col-md-8">
        <img src="assets/images/thumb1.jpg" class="img-fluid" alt="first project">
    </div>
 
  </div>

  <div class="projects-line">
  </div>

  <div class="projects-projectThumb row">
    <div class="col-md-2 projects-projectThumb-description">
        <span>Przytulny mini apartament</span>
    </div>
    <div class="col-md-8">
        <img src="assets/images/thumb2.jpg" class="img-fluid" alt="second project">
    </div>
  </div>

  <div class="projects-line">
  </div>

  <div class="projects-projectThumb row">
    <div class="col-md-2 projects-projectThumb-description">
        <span>Shrimp House Szczecin</span>
    </div>
    <div class="col-md-8">
        <img src="assets/images/thumb3.jpg" class="img-fluid" alt="third project">
    </div>
  </div>
</div>