@import url('https://fonts.googleapis.com/css?family=Roboto');


@font-face {
    font-family: 'freehand-521-bt';
    src: url('assets/fonts/freehand-521-bt-59298a453f4b4.ttf');
}

@font-face {
    font-family: 'geniso';
    src: url('assets/fonts/GENISO_0.ttf');
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  overflow: auto;
  color: black;
}

* {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
}

.active {
  cursor: pointer;
}

.inactive {
  color: #C3C3C3;
  cursor: default;
}