<div class="start-flex">
  <div class="start-flex-center">
    <div class="start-title active" (click)="goToContent()">Wytwórnia</div>
    <div class="start-description">pracownia architektury wnętrz</div>
  </div>

  <div class="start-socialMedia">
    <a href="https://www.facebook.com/wytwornia.architekci/">
      <img src="assets/images/socialMedia/facebook.svg">
    
    </a>

    <a href="https://www.instagram.com/wytwornia.architekci/">
      <img src="assets/images/socialMedia/instagram.svg">
    
    </a>

    <a>
      <img src="assets/images/socialMedia/youtube.svg">
    </a>

  </div>
</div>