.start-flex {
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-flex-center {
  color: white;
  max-width: 50%;
  align-self: center;
}

.start-title {
  font-family: "freehand-521-bt";
  font-size: 90px;
}

.start-description {
  text-align: center;
  font-size: 22px;
  line-height: 15px;
}